{
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "(.css|.scss)$",
        "^[./]",
        "^types$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "endOfLine": "auto"
}